/* Escreva aqui as suas folhas de estilo */
:root{
    --cabecalho: #162028;
    --link-cabecalho:#425564;
    --brancoprincipal:#ffffff;
}
.body{
    font-family: sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cabecalho{
    height: 100vh;
   color: var(--brancoprincipal);
  
}
.cabecalho h1{
    font-family: 'Times New Roman', Times, serif;
}
.cabecalho a{
    color: var(--link-cabecalho);
    text-decoration: none;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.cabecalho a:hover{
    color: var(--brancoprincipal);
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cabecalho);
    padding: 1rem;
}


 ul{
    display: flex;
    gap: 2rem;
    list-style-type: none;
}
.cabecalho__img{
    background-image: url(../imagens/topo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}

.modelos{
    display: flex;
    justify-content: space-around;
    height: 40vh;
    margin: 3rem 0;
    text-align: center;
}
.modelos h3{
    margin-bottom: 1rem;

}
.modelos h3,p{
    text-align: center;
}
.portfolio{
    text-align: center;
    margin-top: 5rem;
    height: 40vh;

}
.portfolio h2{
    margin-bottom: 3rem;
}
.portfolio p{
    width: 80%;
    margin: auto;
    line-height: 2.5rem;
}
.sobre{
    background-image: url(../imagens/bg_detalhe.png);
    background-size: cover;
    background-position: right bottom;
    height: 100vh;
    padding: 2rem;
    color: var(--brancoprincipal);
}
.sobre h2{
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    margin: 4rem 0 2rem 2rem;
   
}
.sobre p{
    width: 60%;
    margin: 4rem 0 2rem 2rem;
    line-height: 1.5rem;
    text-align: justify;
}
footer{
    background-color: var(--cabecalho);
    padding: 2rem;
    height: 10vh;
    color: var(--link-cabecalho);
    text-align: center;
    letter-spacing: .2rem;
    text-transform: uppercase;
}
footer a{
    color: var(--link-cabecalho);
    text-decoration: none;
}
footer a:hover{
    color: var(--brancoprincipal);
}
